<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title><?escape rdoc_options.title ?></title>

	<meta name="description" content="API documentation for [?escape rdoc_options.title ?]">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="[?attr rel_prefix ?]/images/favicon.png">
	<link rel="prefix" href="[?attr rel_prefix ?]" />

	<link rel="stylesheet" href="[?attr rel_prefix ?]/css/sixfish.css">

	<script src="[?attr rel_prefix ?]/js/sixfish.js"></script>
</head>
<body>

	<main class="columns section">

		<nav class="index column is-one-quarter">

			<div class="field">
				<p class="control has-icons-left">
					<input id="index-search" class="input is-rounded" type="text" placeholder="Search">
					<span class="icon is-small is-left">
						<i class="fas fa-solid fa-search"></i>
					</span>
				</p>
			</div>

			<aside class="menu">
				<p class="menu-label">Files</p>

				<ul id="file-index" class="menu-list">
					<?if mainpage ?>
					<li class="file" data-search-term="[?attr mainpage.page_name ?]"><a
						href="[?attr rel_prefix ?]/[?call mainpage.path ?]"><?escape mainpage.page_name ?></a></li>
					<?end if ?>
					<?for file in files.select {|f| f.text? }.sort ?>
					<li class="file" data-search-term="[?attr file.page_name ?]"><a
						href="[?attr rel_prefix ?]/[?call file.path ?]"><?escape file.page_name ?></a></li>
					<?end for ?>
				</ul>
			</aside>

			<aside class="menu">
				<p class="menu-label">Classes/Modules</p>

				<ul id="class-index" class="menu-list">
					<?for index_class in modsort.select( &:documented? ).uniq {|c| c.path } ?>
					<li class="class" data-search-term="[?attr index_class.full_name ?]"><a
						href="[?attr rel_prefix ?]/[?call index_class.path ?]"><?call
							index_class.full_name ?></a></li>
					<?end for ?>
				</ul>
			</aside>

			<aside class="menu">
				<p class="menu-label">Methods</p>

				<ul id="method-index" class="menu-list">
				<?for method in methods.uniq {|m| m.path } ?>
					<li class="method" data-search-term="[?attr method.name ?]"><a
						title="[?call method.parent.full_name ?]"
						href="[?attr rel_prefix ?]/[?call method.path ?]"><?call method.pretty_name ?>
						<span class="method-parent">[<?call
							method.parent.full_name.sub(/.*(::)/, '\\1') ?>]</span>
						</a>
					</li>
				<?end for ?>
				</ul>
			</aside>
		</nav>

		<article class="description column">
			<div class="content container">
				<?attr contents ?>
			</div>
		</article>

	</main>

	<footer class="footer">
		<span id="rdoc-version">Generated by RDoc <?attr rdoc_version ?></span> using the
		<a id="generator-version"
			href="https://hg.sr.ht/~ged/Sixfish"><?attr sixfish_version ?></a> generator.
	</footer>

</body>
</html>

